a{
	text-decoration: none;
}
*{
	margin:0;
	padding:0;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.clearfix:before{
	content: "";
	display:table;
}
.clearfix:after{
	content: "";
	display: table;
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.imgLengthNum_js{
	display:none;
	position:fixed;
	right:50px;
	bottom:30px;
	z-index:999999;
	font-weight:bold;
	color:#fff;
}
.nowIndex_js{
	 font-size:45px;
	
}
.imgLength_js{
	 font-size:70px;
	 margin-top:30px;
	
}
.img_bg_js{
	 position:fixed;
	 left:0;top:0;
	 width:100%;
	 height:100%;
	 opacity:0;
	background: #000;
	 filter:alpha(opacity=0);
}
img{
	background: url('/static/img/ajax-loader.gif') no-repeat center center  ;
}
.btn_close_js{
	position:fixed;
	z-index:999999;
	top:10px;
	right:10px;
	font-size:30px;
	color:#fff;
	cursor:pointer;
	display:none
}
.btnLeft_js,.btnRight_js{
	color:#fff;display:none;
	font-size:70px;
	position:fixed;
	height:64px;
	width:34px;
	top:50%;
	margin-top:-32px;
	z-index:100000000;
	cursor:pointer;
}
.btnLeft_js{
	left:50px;
}
.btnRight_js{
	right:50px;
}